{# Authorization page #}


{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block heading %}
<span class="c-font-size-36 fw-medium">Authorization</span>
{% endblock %}

{% block content %}
<div class="row">
    {% include "components/alert.html" %}
</div>
<div class="row p-4 g-2 bg-primary c-rounded-10px mt-4 c-text-second">
    <form>
       <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-secondary" type="submit">Login</button>
      </form>
    </form>
</div>
{% endblock %}
