{# Registration page #}

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block heading %}
<span class="c-font-size-36 fw-medium">Registration</span>
{% endblock %}

{% block content %}
<div class="row p-4 g-2 bg-primary c-rounded-10px mt-4 c-text-second">
    <div class="row">
        <div class="col-auto">
        {% include "components/alert.html" %}
       	<form method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="btn btn-secondary" type="submit">Register</button>
        </form>
            </div>
    </div>
</div>
{% endblock %}
